body{
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header{
    background-color: rgb(111, 214, 123);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border: 2px solid;
}

ul > li {
    display: inline-block;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(93, 68, 147);
    border: 2px solid;
}