* {
    margin: 0 !important;
    padding: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    display: flex;
    margin: 2em !important;
    background-color: rgb(245, 245, 245);
    border: solid 1px whitesmoke;
    border-radius: 20px;
    padding: 10px !important;
    margin: 2em !important;
}

#search {
    padding: 10px !important;
    border-radius: 20px;
    border: 0;
    outline: none;
}

#search:not(:placeholder-shown) {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.ui-autocomplete {
    width: 10px;
    background-color: #fff;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    padding: 10px !important;
    margin: 8px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ui-autocomplete:hover {
    color: #fff;
}

.ui-menu {
    margin-left: 50px !important;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    margin: 8px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ui-autocomplete-input {
    border: none;
    width: 100%;
}

.search-container input[type="text"] {
    flex: 1;
    border: none;
    font-size: 16px;
    outline: none;
}

.search-container button[type="submit"] {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 10px !important;

}

header {
    display: flex;
    width: 100%;
    border-bottom: solid 1px gray;
    background-color: solid 1px lightgray;
    background-color: lightgray;
    height: 4em;
}

ul {
    list-style-type: none;
    width: 100%;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px !important;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

nav {
    display: flex;
    width: 15%;
    height: 10000vh;
    overflow: hidden;
    border-right: solid 1px lightgrey;
}

main {
    width: 100%;
    display: flex !important;
}

.Koni {
    padding-left: 1em !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.vote {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vote-container {
    margin: 1em !important;
}


.text {
    margin: 1em 1em 1em 0 !important;
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


button {
    background-color: #5d6361;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.joke-header {
    display: flex;
    align-items: center;
}

.input-field {
    height: 100%;
    width: 100%;
    background: 0 0;
    border: 0;
    background: #fff;
    display: block;
    width: 100%;
    padding: 10px 32px 10px 70px;
    font-size: 18px;
    color: #666;
    border-radius: 34px;
}



/* input-field */

.s006 form .inner-form {
    width: 100%;
    margin-bottom: 17px;
}

s006 {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: poppins,sans-serif;
    background: url(../images/Searchs_006.png);
    background-size: cover;
    background-position: center center;
    padding: 15px;
}


.s006 form .inner-form .input-field {
    height: 70px;
    width: 100%;
    position: relative;
}

.erd {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

.erklärung {
    justify-content: center;
}

