* {
    margin: 0 !important;
    padding: 0 !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
    display: flex;
    margin: 2em !important;
    background-color: rgb(245, 245, 245);
    border: solid 1px whitesmoke;
    border-radius: 20px;
    padding: 10px !important;
    margin: 2em !important;
}

.ui-autocomplete {
    width: 10px;
    background-color: #fff;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    padding: 10px !important;
    margin: 8px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ui-autocomplete:hover {
    color: #fff;
}

.ui-menu {
    margin-left: 50px !important;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px !important;
    margin: 8px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ui-autocomplete-input {
    border: none;
    width: 100%;
}

.search-container input[type="text"] {
    flex: 1;
    border: none;
    font-size: 16px;
    outline: none;
}

.search-container button[type="submit"] {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 10px !important;

}

header {
    display: flex;
    width: 100%;
    border-bottom: solid 1px gray;
    background-color: solid 1px lightgray;
    background-color: lightgray;
    height: 4em;
}

ul {
    list-style-type: none;
    width: 100%;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px !important;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

nav {
    display: flex;
    width: 15%;
    height: 10000vh;
    overflow: hidden;
    border-right: solid 1px lightgrey;
}

main {
    width: 100%;
    display: flex !important;
}

.Koni {
    padding-left: 1em !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.vote {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vote-container {
    margin: 1em !important;
}


.text {
    margin: 1em 1em 1em 0 !important;
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


button {
    background-color: #5d6361;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}